table {
    border-collapse: collapse;
}

th, td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-size: 6;
}

.date {
    color: red;
}

footer {
text-align:right;
clear:left;
}

button{
    margin-right: 20px;
    font-size: 24px;
}
